# Track all artifacts under experiments/checkpoints/ with Git LFS
experiments/checkpoints/** filter=lfs diff=lfs merge=lfs -text

# Also track large checkpoints anywhere
*.ckpt filter=lfs diff=lfs merge=lfs -text

# Track all data under experiments/data/ with Git LFS
experiments/data/** filter=lfs diff=lfs merge=lfs -text
